<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <%= url %>, <%= @user.first_name %></h1>
    <h2>Commercial and Residential Poured in place retaining walls. 
    <h3>building foundation walls</h3>
    <h3>basement walls</h3>
    
    <p>
      You have successfully signed up for our web app,
      your user email is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the web app, just follow this link: <%= @loginurl %>.
      To get started create a project by logging in and visiting your dashboard. 

      </p>
      <br>
      <p>Once you have uploaded a project we will reach out to schedule a call and discuss the project in more detail. Including when we can get started. </p>
      <p>
      <br>Please don't forget to confirm your email within 3 days or your account will be disabled. 
      Email us at seguraretainingwalls@gmail.com if you have any questions or comments. 
    </p>

    
    <p>Thanks for joining we look forward to working with you!</p>
    <br>
    <br>
    <b>Segura & Co</b>
  </body>
</html>