<%# 
<body>
<div class="centered">
<div class="container-short">
<div> %>
<p class="copyright centered">Copyright © <%= Time.current.year %>
 <%= link_to 'Segura Construction Co, LLC', root_path, class:"" %> - All rights reserved - </p>


    
     
  <%# <p class="copyright centered" style="color: black;">Copyright © 2021 <a>SIGMAS</a> <br> - All rights reserved - </p> %>

  <%# </div>
</div>
</div>
</body> %>
