<%# about.html.erb %>





        <div class="col-12 centered mt-5 py-5">
            <h1>The Construction Process </h1>
            <h2>Reinforced Concrete Construction</h2>
        </div>
    

    
        <div class="middle">
          <h1 class="video-title">
              Reinforced Concrete Retaining Wall Build
          </h1>
          <h2 class="video-subtitle">
          </h2>
<%# 
          <div class="col-md-6"> %>
          <iframe width="90%" height="500" src="https://www.youtube.com/embed/930bJd9juGU" title="Reinforced Concrete Retaining Wall Buld Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <%# </div> %>

        
            <%# <h1 class="video-title">
            Steel Forms Forming System
            </h1>
            <h2 class="video-subtitle">\
            Modular; time-saving forming 
            </h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LCmVTpCID1c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <%# button_to pay_path, %>

       </div>

        <div class=" middle"  >
            <%# <h1 class="video-title">
            Modular Formwork Animation
            </h1>
            <h2 class="video-subtitle">
            </h2>
           <iframe width="100%" height="315" src="https://www.youtube.com/embed/K1nMAYRivNY" title="YouTube video player: Modular Formwork Animation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>%>
            <%# button_to pay_path, %>

               <h1 class="video-title">
               How to Build a House, Pouring  the Concrete Walls
            </h1>
            <h2 class="video-subtitle">
            </h2>

            <iframe width="90%" height="415" src="https://www.youtube.com/embed/Ms5NTs4_Y5Y" title="Pouring House Reinforced Concrete Walls" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    
            <h1 class="video-title">
                Large Scale Commercial Wall Construction
            </h1>
            <h2 class="video-subtitle">
            Stripped Wall and Forming With Pour On Footer
            </h2>
            <iframe width="90%" height="415" src="https://www.youtube.com/embed/stSUH7hdEuc" title="Example Finished Commercial Retaining Wall On Footer Pouring Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        

<%# 
            <h1 class="video-title">
                Reinforced Concrete Retaining Wall Construction Animation 
            </h1>
            <h2 class="video-subtitle">
            </h2>

            <iframe width="100%" height="315" src="https://www.youtube.com/embed/ErDc0sVOX9E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   %>
  
            <h1 class="video-title">
                Reinforced Concrete Retaining Wall Construction Animation 2
            </h1>
            <h2 class="video-subtitle">
            </h2>

            
            <iframe width="90%" height="415" src="https://www.youtube.com/embed/y1pAGIf8v2c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            


<%# 
            <h1 class="video-title">
                Different Types of Cocrete Retaining Walls
            </h1>
            <h2 class="video-subtitle">
            </h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/IKy3bFTkS7I" title="Different Types of Concrete Retaining Wall Projects " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>
      

          
            <h1 class="video-title">
                 Tall Retaining Walls
            </h1>
            <h2 class="video-subtitle">
            </h2>

           <iframe width="90%" height="415" src="https://www.youtube.com/embed/NdIx7Vm_3xs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

           
       
        
            <h1 class="video-title">
                Pouring the Footer 
            </h1>
            <h2 class="video-subtitle">
            </h2>

            <iframe width="90%" height="415" src="https://www.youtube.com/embed/pMxGexmQe9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<%#         
            <h1 class="video-title">
                Waterproofing Installing Drainage 
            </h1>
            <h2 class="video-subtitle">
            </h2>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/39dhQsQLVHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
     %>

        </div>

