



    <div class="row featurette">
      <div class="col-md-5">
                <%= image_tag("no-bg-elements/forms.png", alt: "My logo", size: '200x300', :style => "padding: 60px 20px;") %>

                </div>
                <div class="col-md-7" style="display: flex;justify-content: center;flex-direction: column;">
                    <h2 class="featurette-heading">Family owned and operated<br><span class="text-muted">Driven by Heart</span></h2>
                    <p class="lead text-center" id="first-featurette-p">SEGURA & Company provides the highest quality contruction services focusing on Poured-in-Place Reinforced Concrete Retaining Walls  <br> Expertise  = Quality <br> </p>
                </div>
              
            </div>