<div class="display-4" style="" >
<h1>Our mission</h1>
  <div class="float-left">
  <h2>Subtitle<h2>
  <img src=""/>
  </div>
        <%# image_tag("Our_mission.png", {:style => "width:100px;margin-top: 5rem; margin-bottom: 5rem;"}) %>

          <%# image_tag("logo.png", {:style => "width:100px;margin-top: 5rem; margin-bottom: 5rem;"}) %>

          <%# image_tag("logo_mobile.png", {:style => "width:100px;margin-top: 5rem; margin-bottom: 5rem;"}) %>
    
    <i class="">
  <div class="float-right">
    <h2>Family owned and operated </h2>
    <h3>Community based</h3>
    <h3>Proud to serve the Central Arkansas Community for 30+ </h3>
  </div>
    <h1>
    <p>
  </div>
</div>