// .wrap-all-the-things {
//   min-height: 100%;
//   height: 100%;
//   padding: {
//     left: 140px;
//   }
//   margin: {
//     top: 0;
//   }
//   background-image: url(https://download.unsplash.com/photo-1428976365951-b70e0fa5c551);
//   background-size: cover;
//   background-position: center center;
//   transition: transform 400ms, opacity 400ms;
//   @media screen and (max: 480px) {
//     padding: {
//       left: 70px;
//     }
//   }
// }\\
// clean nd Energetic
.mockclass {
  color: #5680e9 #84ceeb #5ab9ea #c1c8e4 #8860d0 // #Effective Accent Colors
    #faed26 #46344e #5a5560 #9d8d8f #9b786f // Vivid Blues and Orange
    #10e7dc #0074e1 #1b9ce5 #6cdaee #f79e02;
}

a {
  &:hover {
    text-decoration: none;
  }
}

$color-1: #1a1a1a;
$color-2: #fefefe;
$pad: 0.925rem;
.cont {
  /* position: absolute; */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;

  height: 100%;
  // height: auto;
  // border: 2px dashed red;
}

table {
  display: table;
  // margin: auto;
  width: auto;
  min-width: 300px;
  max-width: 100vw;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  // color: black;
}
// th {
/* text-align: left; */
// }

thead th {
  background-color: #55608f;
}
// tbody
// tbody td {
//   position: relative;
// }
tbody {
  tr {
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  td {
    position: relative;
    z-index: 100;

    &:hover {
      // border: 2px dashed white;
      z-index: 10;
      // width: 110%;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255, 255, 255, 0.2);
        z-index: -1;
      }
    }
  }
}
// tr:hover {
//   background-color: rgba(255, 255, 255, 0.3);
// }
// tbody td {
//   position: relative;
//   border: 4px solid green;

//   &:hover:before {
//     content: "";
//     // position: absolute;
//     left: 0;
//     right: 0;
//     top: -9999px;
//     bottom: -9999px;
//     // background-color: rgba(255, 255, 255, 0.2);
//     background-color: black;
//     z-index: -1;
//   }
// }

.modal-visible {
  display: block;
  position: absolute;
  opacity: 1;
}
.modal-hidden {
  display: none;
}
// #termsModal {
// }

#modalButton {
  width: auto;
  background-color: var(--info);
  border-radius: 8px;
  display: block;
  position: relative;
  // text-align: center;
  padding: 1rem 2rem;
  // border: 4px dashed red;
  // top: 2rem;
  margin: auto;
  margin-bottom: 2rem;
  // height: 4rem;
  // width: 8rem;
  color: white;
}
.text {
  display: contents;
}
.middle {
  position: relative;
  margin: auto;
}

.labeled-img {
  src: "assets/no-bg-elements/complete-wall-labeled-removebg.png";
}

.labeled-img-content {
  content: "url('assets/no-bg-elements/complete-wall-labeled-removebg.png')";
}

.nonlabeled-img {
  content: "#{asset_path('assets/no-bg-elements/complete-wall-front-removebg.png')}";
  // content: ;
}
.sidebar-logo {
  animation: name 500ms timing-function delay iteration-count direction
    fill-mode;
}

.top-cont {
  // padding-top: 10vh;
  .top-buttons {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3rem;
    margin-right: 3rem;
    .card__wish-list {
      width: 12rem;
    }

    @media screen and (max-width: 700px) {
      .card__wish-list {
        width: auto;
        // background-color: red;
      }

      // width: 5vw;
      position: relative;

      margin-top: 2rem;
      margin-right: 1rem;
      right: 0;
      top: 0;
    }
  }
}
// .trapezoid {
//   display: block;
//   border-bottom: 100px solid var(--yellow);
//   border-left: 25px solid transparent;
//   border-right: 25px solid transparent;
//   // height: 299px;
//   width: 100px;
//   // transform: rotate(90deg);
// }

#wall-img-png {
  margin: auto;
  right: 0.4rem;
  // display: block;
  // width: 35vw;

  // position: absolute;
  // right: 0;
  width: 40vw;
  // background-position: ;
  // top: 0;
  // border: 4px dashed indigo;
  // &:hover {
  // content: 'url'
  // }
}
.flipped {
  // img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
#wall-img {
  // position: fixed;
  // border: 4px dashed blue;
  // position: relative;
  // top: 8rem;
  // right: 0.4rem;
  height: 100%;
  width: auto;
}

.mobile-logo {
  display: none;
}
#page-wrapper-padding-left {
  padding-left: 4rem;
}
.logo-image .mobile {
  display: none;
}
.navbar-brand.logo-image {
  display: none;
}
.head-nav {
  overflow: hidden;
  li {
    // display: flex;
    // align-items: stretch;
    &:hover {
      // background-color: red;
      // color: white;
      // &:before {
      // background-color: orange;
      // }
      .navbar-text {
        color: white;
        z-index: 3;
      }
      // a {
      // color: black;
      // }
    }
    &:before {
      position: absolute;
      // left: -$pad;
      // top: 0;
      // width: $pad;
      border-color: green;
      height: 100%;
      content: "";
      background: white;
      z-index: 1;
      transition: background 400ms;
    }
  }
  ul {
    li:hover {
      background-color: var(--blue);
    }

    display: flex;
    // justify-content: space-between;
    row-gap: 3%;
    height: 85vh;
    flex-direction: column;

    margin: {
      // top: $pad * 1;
      right: 0;
      bottom: 0;
      left: 0;
    }
    padding: 3vh 0;
    // padding
    list-style: none;
    vertical-align: middle;

    justify-content: space-between;
    // align-items: stretch;
    // border: 2px dashed blue;
    align-content: space-between;
    // justify-items: stretch;
    // border: 4px solid pink;
  }

  li {
    position: relative;
    clear: both;
    width: 100%;
    padding: 0;
    transition: background 400ms;
    a {
      display: flex;
      margin: auto;
      padding: {
        // top: 2vh;
        // bottom: 2vh;
      }
    }
  }
  a {
    align-items: center;
    width: 100%;
    color: black;
    text-decoration: none;
    transition: color 400ms;

    .navbar-text {
      font-size: 1rem;
      // border: 4px dashed green;
      position: relative;
      display: inline-block;
      z-index: -1;
      // display: hidden;
      display: hidden;
      font-family: "Courier New", Courier, monospace;
      text-indent: 15em;
      white-space: nowrap;
      transition: text-indent 500ms ease-in-out;
      text-align: center;
      // &:hover {
      //   text-indent: 0em;
      // }
      /* color: white; */
      // font-size: 1rem;
      // position: relative;
      // float: right;
      // /* display: inline-block; */
      // /* z-index: 0; */
      // font-family: Roboto;
      // /* text-indent: -20em; */
      // white-space: nowrap;
      // transition: text-indent 400ms ease-in-out;
    }
  }
  // .child{ display:none; }

  // .navbar-text{}
  // svg {
  //   position: relative;
  //   max-width: 80px;
  //   max-height: 30px;
  //   z-index: 1;
  //   fill: $color-2;
  //   background: #ed1c5b;
  //   transition: 400ms;
  // }
  @media screen and (max: 768px) {
    ul {
      margin: {
        top: $pad/4;
      }
    }
    svg {
      max-width: 20px;
    }
  }
}
#widenav {
  width: 12rem;
}
#skinnynav {
  width: 4.5rem;
}
.mobile-only {
  display: none;
}
.main-head {
  position: fixed;
  bottom: 0;
  width: 4.5rem;
  height: 100%;
  z-index: 10;
  // background: #ed1c5b;
  // background-color: rgb(192, 0, 47);
  // background-color: #a52226;
  background-color: #ebebeb;
  transition: width 400ms;
  &:hover {
    width: 12rem;
    & + .wrap-all-the-things {
      transform: translateX(336px);
      max-width: 100%;
      opacity: 0.4;
    }
    .head-nav {
      li {
        @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) {
            .navbar-text {
              transition-delay: 100ms * $i;
            }
          }
          .navbar-text:hover {
            color: white;
            // border: 4px dashed blue;
          }
          &:hover {
            background-color: var(--blue);
          }
        }
      }
      .navbar-text {
        text-indent: 0.5rem;
        // border: 4px dashed orange;
      }
    }
  }
  .sidebar-icon {
    width: 4rem;
    margin: 0 0.25rem;
    padding: 0.25rem;
    // border: 2px solid blue;
  }
  @media screen and (max: 768px) {
    width: 70px;
    padding: 0 $pad;
    .head-nav {
      padding: {
        left: 7px;
      }
    }
    &:hover {
      .head-nav {
        .navbar-text {
          text-indent: 1em;
          // border: 2px solid purple;
        }
      }
    }
  }
}
.isSticky {
  position: fixed;

  // top: 2rem;
}
#mobile-logo {
  display: none;
}
.field.remember,
.field.terms {
  margin-top: 3rem;
  margin-bottom: 3rem;
  // border: 2px dashed cyan;
}
.card-button:hover {
  text-decoration: none;
}
@media screen and (min-width: 701px) {
  .card-button {
    border-radius: 8px;
    display: block;
    position: relative;
    // text-align: center;
    padding: 1rem 2rem;
    // border: 4px dashed red;
    // top: 2rem;
    margin: auto;
    // height: 4rem;
    width: 10rem;
    color: white;
  }
  #wall-img-png {
    // border: 3px solid green;
    width: auto;
    max-width: 100%;
    // height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #wall-img {
    height: 400px;
    width: 100%;
    margin-top: 5rem;
  }
  .round-card {
    width: 45vw;
    flex-direction: column;
    justify-content: space-between;
    // overflow: hidden;
    // .text {
    // height: auto;
    // border: 3px dashed blue;
    // }
  }
  .round-card.first {
    position: relative;
    height: 100%;
    min-height: 300px;
    margin-top: 10%;

    .form-image {
      // display: flex;
      position: absolute;
      right: -70%;
      top: 10%;
      width: 70%;
    }
    // top: -8rem;
    // left: 16%;
    // top: -12rem;
    // width: 200px;
    // }
    // .form-image.right {
    // border: 4px dashed navy;
    // position: absolute;
    // left: 185px;
    // width: 234px;
    // top: -13.3rem;
    .form-image.right {
      position: absolute;
      right: -118%;
      top: 4%;
      width: 82%;
    }
  }

  .round-card.second {
    // border: 4px solid pink;
    position: relative;
    margin-top: 110%;
    margin-bottom: 5%;
    height: 60%;
    min-height: 350px;
    max-height: 400px;
    @media screen and (min-width: 900px) {
      margin-top: 90%;
    }

    .formwork-image {
      // border: 2px dashed blue;
      bottom: 80%;
      position: absolute;
      // top: 0px;
      width: 110%;
      max-width: 400px;
      max-height: 400px;
      // left: -120%;
    }
    .text {
      margin-top: 2rem;
      display: block;
      z-index: 10;
    }
  }

  .round-card.third {
    // border: 4px solid pink;
    position: relative;
    // margin: unset;
    margin-top: 45vh;
    // margin . /: initial;
    // margin-left: 2%;
    margin-left: 3%;
    // margin-top: 15%;
    .text {
      display: block;
      z-index: 10;
      margin-top: 2rem;
    }
    // height: auto;
    // width: 46%;
    // top: 400px;
    .formwork-image {
      position: absolute;
      bottom: 80%;
      // margin: auto;
      // right: -100%;
      // bottom: -10%;
      width: 120%;
      max-width: 400px;
      max-height: 400px;
      // max-width: 400px;
      // transform: translate(120%, 0%);
      // margin-left: 20%;
      // border: 4px dashed purple;
    }
  }

  .container-bs {
    // top: 10rem;
    display: block;
    position: relative;
  }

  .round-card {
    width: 45%;
  }
  // .round-card.first {
  //   flex-direction: row;
  // } {

  // .round-card.third {
  // }
}

// @media screen and (orientation: landscape) and (min-width: 600px) {

// }
.round-card {
  .card-button {
    color: white;
    font-size: large;
    background-color: var(--blue);
    &:hover {
      color: white;
      background-color: navy;
    }
  }
}
@media screen and (min-width: 1100px) {
  // .card-button {
  //   color: white;
  // }
  .round-card.first {
    position: relative;
    min-height: 400px;
    .form-image {
      position: absolute;
      top: -2%;
      right: -68%;
      width: 70%;
      max-width: 500px;
      transform: translate(0%, 0%);
    }
    .form-image.right {
      position: absolute;
      top: -11%;
      right: -100%;
      width: 82%;
      max-width: 500px;
      transform: translate(20%, 0%);
    }
    // .text {
    // }
    .card-button {
      // position: relative;
      // display: flex;
      // justify-self: end;
      // bottom: 2rem;
      // width: 6rem;
      // border: 4px solid yellow;
      margin-top: 3rem;
      top: 50%;
      padding: 1rem 2rem;
    }
  }

  .round-card.second {
    position: relative;
    // border: 4px solid pink;
    margin-top: 700px;
    min-height: 300px;
    height: auto;
    // border: 2px dashed blue;
    .formwork-image {
      position: absolute;
      top: -100%;
      width: 100%;
      // border: 4px solid pink;
      /* left: -111%; */
      // left: -121%;
    }
    // .text {

    // }
    .card-button {
      width: 9rem;
      margin-top: 1.5rem;
      padding: 1rem 2rem;
    }
  }
  .round-card.third {
    margin-top: 10vh;
    // border: 2px solid purple;
    position: relative;
    margin-top: -5px;
    min-height: 400px;
    margin-bottom: 10%;
    .formwork-image {
      position: absolute;
      // left: 20%;
      bottom: 80%;
      width: 100%;

      // max-width: 300px;
      // transform: translate(150%, 0%);
      // margin-left: 30%;
    }
    .text {
      margin-top: 4rem;
    }
    .card-button {
      // width: 6rem;
      margin-top: 4rem;
      padding: 1rem 2rem;
    }
  }
}
@media screen and (max-width: 700px) {
  .middle-mobile {
    width: calc(100% - 10px);
  }
  .copyright {
    padding-bottom: 80px;
  }

  .round-card.first {
    width: 95%;
    max-width: 600px;
    position: relative;
    // height: auto;
    flex-direction: column;
    align-items: center;

    // .round-card.first {
    margin-top: 7rem;
    // }
    // width: 95%;
    .text {
      display: block;
      position: relative;
      margin-top: 3rem;
    }

    .form-image {
      position: absolute;
      top: -15%;
      left: 50%;
      transform: translate(-50%, -50%);
      // top: -8rem;
      // left: 10%;
      // top: -20%;
      width: 70%;
      min-width: 150px;
      max-width: 250px;
    }
    // .form-image.right {
    //   // border: 4px dashed navy;
    //   position: absolute;
    //   left: 185px;
    //   // width: 234px;
    //   width: 45vw;
    //   top: -13.3rem;
    // }
    .card-button {
      display: block;
      position: relative;
      padding: 1rem 2rem;
      // position: relative;
      // border: 4px dashed red;
      margin: auto;
      // top: -4rem;
      // height: 4rem;
      width: 8.5rem;
      font-size: medium;
    }
  }

  .round-card.second {
    position: relative;
    width: 95%;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    // border: 4px dashed green;

    .text {
      display: block;
      position: relative;
      // top: 3rem;
      margin-top: 3rem;
    }
    .formwork-image {
      position: absolute;
      // border: 2px dashed black;
      // left: 16%;
      // width: 250px;
      top: -10%;
      left: 50%;
      width: 80%;
      min-width: 140px;
      max-width: 400px;
      transform: translate(-50%, -50%);
    }
    .card-button {
      display: block;
      position: relative;
      // border: 4px dashed red;
      // top: 2rem;
      padding: 1rem 2rem;
      // height: 4rem;
      // width: 8rem;
      // position: relative;
      // top: 2rem;
      // display: block;
      // position: relative;
      // border: 4px dashed red;
      margin: auto;
      // top: -4rem;
      // height: 4rem;
      width: 9rem;
    }
  }
  .round-card.third {
    width: 95%;
    max-width: 600px;
    margin-top: 18rem;
    // display: block;
    position: relative;
    .formwork-image {
      position: absolute;
      // top: -5%;
      width: 80%;
      min-width: 140px;
      max-width: 300px;

      top: -25%;
      left: 50%;
      transform: translate(-50%, -50%);
      // border: 2px dashed red;
    }

    .text {
      display: block;
      position: relative;
      // top: 2rem;
      margin-top: 2rem;
      // text-align: center;
    }
    .card-button {
      border-radius: 8px;
      display: block;
      position: relative;
      // text-align: center;
      padding: 1rem 2rem;
      // border: 4px dashed red;
      // top: 2rem;
      margin: auto;
      // height: 4rem;
      width: 8rem;
    }
  }

  .card-button {
    border-radius: 8px;
    display: block;
    color: white;
    position: relative;
    // text-align: center;
    padding: 1rem 2rem;
    // border: 4px dashed red;
    // top: 2rem;
    margin: auto;
    // height: 4rem;
    width: 8rem;
  }
  .mobile-only {
    display: flex;
  }
  #wall-img-png {
    width: auto;
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #wall-img {
    height: 400px;
    width: 100%;
    margin-top: 2rem;
  }
  #top-logo {
    content: url("logo/gradient-logo-260x160.png");
  }
  .top-cont {
    padding-top: 20px;
  }
  .sidebar-logo-cont {
    display: none;
  }
  .sidebar-logo {
    display: none;
  }
  .mobile-logo {
    // display: block;
    // padding: 0.25rem;
    // position: relative;
    // bottom: 0;
    // transform: scale(0.85);
    // -webkit-transform: scale(0.85);
    // margin-top: -5px;
    // margin-top: 2rem;
    // display: flex;
    // height: 100%;
    // width: auto;
    // height: 75px;
    // width: auto;
    // overflow-y: hidden;
    // object-fit: contain;
    // transform: scale(0.8);
    // -webkit-transform: scale(0.8);
    // justify-self: center;
    // align-self: center;
    // vertical-align: middle;
    // position: absolute;
    // left: 45%;
    // top: 3rem;
    // width: 60vw;
    // height: 90px;
  }
  #page-wrapper-padding-left {
    padding-left: 0;
  }
  // body {
  //   padding-left: 0;
  // }
  .logo-image .mobile {
    display: block;
    // display: absolute;
    position: absolute;
    left: 45%;
    top: 4rem;
    // border: 4px solid pink;
    a {
      width: 100%;
      height: 100%;
    }
  }
  //   body > header > nav > div {
  //     height: 100%;
  // //  display:none;
  //     // border: 4px solid blue;

  //     margin: 0;
  //     padding: 0;
  //   }
  .main-head {
    width: 100vw;
    min-width: 100vw;
    height: 4.5rem;
    max-height: 100px;
    // border: 4px solid indigo;
    z-index: 10;
    background-color: #ebebeb;
    transition: height 400ms;
    .head-nav {
      // display: flex;
      // align-items:
      // align-content: space-between;
      // justify-content: space-between;
      // margin: auto;
      height: 100%;
      width: 100%;
      // border: 2px solid blue;
      flex-direction: row;

      ul {
        display: flex;
        // border: 2px dashed red;
        margin-top: 0;
        padding: 0.25rem 1.5rem;
        width: 100%;
        // align-self: center;
        // justify-self: center;
        flex-direction: row;
        height: 100%;

        // padding
        list-style: none;
        justify-content: space-between;
        align-items: center;
        // border: 2px dashed red;
        // border: 2px dashed blue;
        // align-content: space-between;

        li {
          width: auto;
          height: auto;
          // border: 2px solid black;
          // display: flex;
          // position: relative;
          align-self: center;
          justify-self: center;
          clear: none;
          // width: 75px;
          padding: 0;
          transition: background 400ms;
          // padding: 0.25rem;

          @for $i from 1 through 4 {
            // &:nth-of-type(#{$i}) {
            //   .navbar-text {
            //     transition-delay: 100ms * $i;
          }
          a {
            display: flex;
            margin: auto;
            align-self: center;
            justify-self: center;
            // border: 2px solid blue;
            display: block;
            // padding: 0.25em;
            height: auto;
            max-height: 4.3rem;
            width: auto;
            align-items: center;
            // width: auto;
            color: black;
            text-decoration: none;
            transition: color 400ms;

            .mobile-logo {
              display: block;
              width: 17vw;
              max-width: 4.3rem;
              height: inherit;
              max-height: 4rem;
            }
            .sidebar-icon {
              display: block;
              margin: auto;
              // width: 1.25rem;
              padding: 0.25rem;
              width: 17vw;
              max-width: 4rem;
              // width: inherit;
              height: auto;
              max-height: 95%;

              justify-self: center;
              align-self: center;
              // border: 2px solid red;
            }

            .navbar-text {
              display: none;
            }
          }
        }
      }
    }
  }
  .navbar-brand {
    display: none;
  }
}

// .main-head:hover .navbar-text {
// text-indent: 0rem;
// z-index: 4;
// display: block;
// }
// .wrap-all-the-things {
//   min-height: 100%;
//   height: 100%;
//   padding: {
//     left: 140px;
//   }
//   margin: {
//     top: 0;
//   }
//   background-image: url(https://download.unsplash.com/photo-1428976365951-b70e0fa5c551);
//   background-size: cover;
//   background-position: center center;
//   transition: transform 400ms, opacity 400ms;
//   @media screen and (max: 480px) {
//     padding: {
//       left: 70px;
//     }
//   }
// }
button.cta-schedule {
  margin-top: 50px;
  width: 20vw;
  height: 6vw;
  // position: absolute;
  // left: 50vw;
  // top: 50vh;
  // transform: translate(-50%, -80%);
  font-family: "Varela Round", sans-serif;
  font-size: 2vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 lightcoral;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 2.05vw;
    box-shadow: 0.2vw 0.2vw 0 lightcoral;
  }
}

@media screen and (max-width: 580px) {
  button.cta-schedule {
    width: 40vw;
    height: 3rem;
    margin-bottom: 2.5rem;
  }
}
@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
@media screen and (max-height: 500px) {
  #top-logo {
    content: url("logo/gradient-logo-260x160.png");
    // border: 4px solid pink;
  }
}
// @media screen and (max-width: 330px) {
//   #top-logo {
//     content: url("logo/gradient-logo-160x98.png");
//   }
// }
// .form-image {
// position: relative;
// }
@media screen and (max-width: 300px) {
  #top-logo {
    content: url("logo/gradient-logo-160x98.png");
  }
}

.info {
  /* font-size: smaller; */
  height: auto;
  /* border: 2px dashed blue; */
  /* background: red; */
}
.info a {
  /* border: 2px dashed red; */
  /* list-style: none; */
  font-size: small;
  line-height: 0.5rem;
  /* padding: 50px; */
}

/* .card-text1 { */
/* overflow    */
/* font-size: small; */
/* } */
/* .round-card.third { */
/* margin-bottom: 2rem; */
/* } */
/* .round-card.second { */
/* margin-top: 2rem; */
/* margin-bottom: 2rem; */
/* } */
.round-card {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 13px 20px,
    rgba(0, 0, 0, 0.24) 0px 13px 20px;
  /* background: gray; */
  /* border: 4px dashed green; */
  display: flex;
  color: var(--platinum);
  flex-direction: column;
  align-items: center;
  justify-items: center;
  // box-shadow: 3px 6px 6px gray;
  /* min-height: 30vh; */
  height: auto;
  /* max-height: 80vh; */
  border-radius: 20px;
  /* width: 95%; */
  justify-self: center;
  align-self: center;
  margin: auto;
  padding: 0.5em;
  /* border: 2px solid blue; */
  background-image: linear-gradient(
    to top,
    #707172 0%,
    #48494d 52%,
    #393b3a 100% /* #3a3838 0%, */ /* #7b7c80 52%,
    #8b8c8f 100% */
  );
  /* 
  background-color: rgb(26, 44, 64); */
  /* background-color: rgb(3, 3, 3); */
  /* background-color: rgb(251, 211, 124);
   */
  /* background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%); */
  /* background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%); */
  /* background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%); */
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply; */
  /* background-color: rgb(23, 7, 23); */
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(245, 245, 247); */
  /* background-color: rgb(167, 197, 217); */
  /* background-color: rgb(133, 160, 179); */
}
.container.top-img {
  width: 90%;
  height: 300px;
}
.field.date {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* justify-items: center; */
  /* display: block; */
  /* position: relative; */
  font-size: 0.5em;
  /* -webkit-appearance: listbox; */
  /* border: 5px dashed rgb(251, 211, 124); */
  /* display: flexbox; */
}
.field > i,
em {
  font-size: 1.1em;
}
.field.date > select {
  /* border: 5px solid red; */
  /* width: auto; */

  width: 40%;
  min-width: 150px;
  margin: auto;
  /* padding: 20px 40px; */
  /* margin-left: 40px; */
}

.get-quote {
  border-radius: 5px;
  background-color: salmon;
  font-size: 2rem;
}
.partial-title {
  /* background: red; */
  font-size: 1rem;
  /* border: 2px dashed blue; */
  padding: 1rem 1rem;
}

.field {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  font-size: 1rem;
  color: var(--blue);
  height: auto;
  /* flex-direction: row; */
  /* display: list-item; */
  /* border: 5px dashed pink; */
  /* position:  .; */
}

.field > p {
  color: white;
  font-size: 1rem;
  /* line-height: 1.2rem; */
  // border: 4px solid green;
}
/* .field > input {
  width: 90%;
  border: 10px dashed yellow;
} */
.field.row {
  /* display: flex; */
  font-size: 1rem;
  width: 100%;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* align-content: center; */
  /* align-items: center; */
  /* justify-items: center; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* height: '100%'; */

  /* border: 2px dashed green; */
}

/* .field.row input {
  position: relative;
  border: 5px dashed blue;
} */

#user_remember_me {
  display: flex;
  width: auto;
  margin: auto;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
#user_remember_me > input {
  vertical-align: middle;
  align-self: center;
}
.field input:first-child {
  margin-bottom: 3rem;
  border: 2px solid red;
}
.field input {
  display: block;
  color: black;
  margin: auto;
  /* margin-bottom:  */
  width: 50%;
  min-width: 200px;
  /* border: 2px solid cyan; */
  font-size: 1rem;
  height: 1.2rem;
  /* margin-bottom: -70px; */
  /* margin-top: -50px; */

  /* color: red; */
  /* display: ; */
  /* position: `; */
}
.partial-card {
  font-size: 1rem;
  color: salmon;
}
/* form > .field > input {
  padding-bottom: 0;
  margin-bottom: 0;
} */
/* form > .field > label {
  font-size: 1rem;
  line-height: 1rem;
} */
form > .field > input {
  border: 4px solid gray;
  /* margin-bottom: 1rem; */
}

/* > :first-child { margin-top: 0 !important; margin-left: 0 !important; } */
/* * > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; } */
form > .field > label {
  font-size: 1.5rem;
  // line-height: 1rem;
  color: black;
  margin-bottom: 0.5rem;
  margin-top: 0rem;
  // vertical-align: middle;
  /* position: relative; */
  /* top: '50px'; */
  /* font-size: 1rem; */
  /* margin-bottom: 0rem; */
  display: block;
  /* border: 4px dashed green; */
  /* justify-self: center; */
  /* height: '60px'; */
}
.field.terms {
  display: block;
  /* border: 5px dashed blue; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.field.terms :first-child {
  align-self: center;
  vertical-align: middle;
  /* border: 5px dashed red; */
}

.button_to > input {
  /* border: 4px dashed blue; */
  /* display: flex;
   */
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: auto;
}
form {
  /* display: absolute; */
  display: flex;
  position: relative;
  align-self: center;
  justify-self: center;
  margin: auto;

  /* height: 50%; */
  /* align-content: flex-start; */
  /* align-items: flex-start; */
  /* position: relative; */
  /* display: flex; */
  flex-direction: column;
  /* margin-top: 2rem; */
  /* margin-bottom: 4rem; */
  /* padding: 30px 20px; */
  width: 100%;
  max-width: 500px;
  /* flex-direction: column; */
  /* align-items: center; */
  /* margin-left: 10%; */
  /* left: -16vw; */
  /* border-radius: 20px; */
  /* border: 4px solid red; */
  /* background: white; */
  /* float: left; */
}

form .input_box {
  color: black;
  /* display: block; */
  /* height: 40px; */
  /* left: -40%; */
  /* align-items: ; */
  /* width: 40%; */
  position: relative;
  /* float: inline-start; */
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  border: 2px solid gray;
}

.input_box input {
  color: black;
  height: 1rem;
  width: auto;
  outline: none;
  border: 2px solid lightgrey;
  border-radius: 5px;
  /* padding-left: 45px; */
  font-size: 17px;
  transition: all 0.3s ease;
  /* border: 2px dashed yellow; */
}

.input_box.info {
  align-self: center;
  display: flex;
  flex-direction: column;
}

// .input_box.input {
/* border: 2px dashed yellow; */
// }

.button input {
  height: auto;
  width: auto;
  /* background: gray; */
  color: black;
  border: none;
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  /* font */
}

/* .input_box .button {
      border: 2px dashed green;
    } */
// .input_box input:focus {
/* border-color: #be2edd; */
// }

.input_box .icon {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translateY(50%);
  color: black;
  /* border: 2px solid red;  */
}

form .option_div {
  margin-top: 5px;
  display: block;
  justify-content: space-between;
  /* border: 2px dashed red; */
}

.option_div .check_box {
  display: flex;
  align-items: center;
}

.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  /* color: #be2edd; */
  color: #4267b2;
}

form a {
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.actions {
  /* display: flex; */
  min-width: 75%;

  width: auto;
  margin: auto;
  width: 80%;
  /* display: contents; */
  /* width: '100%'; */
  /* border: 4px dashed blue; */

  /* overflow: auto; */
}
.actions > input {
  /* display:  */
  font-size: 2rem;
  background-color: var(--primary);

  /* border: 5px solid salmon; */
}
.links {
  display: flex;
  line-height: 1.1rem;
  margin-top: 2rem;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 0;
  /* margin: 0; */

  /* border: 4px dashed green; */
  /* margin-top: 12rem; */
}
/* @font-face { */
/* font-family: "Exodar"; */
/* src: url('webfont.eot'); IE9 Compat Modes */
/* src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8 */
/* url('webfont.woff2') format('woff2'), Super Modern Browsers */
/* url('webfont.woff') format('woff'), Pretty Modern Browsers */
/* src: url("/assets/Exodar.ttf") format("truetype"); */
/* Safari, Android, iOS */
/* url('webfont.svg#svgFontName') format('svg'); Legacy iOS */
/* } */

/* @font-face {
  font-family: "Exodar-Outline";
  src: url("/assets/Exodar-Outline.ttf") format("truetype");
} */
.password-min {
  font-size: 1rem;
}
body {
  /* padding-top: 5rem; */
  font-size: 16px;
  /* font: 700 4.25rem/4.5rem "Montserrat"; */
  font: 1rem;
  // font-family: "Montserrat", "Segoe", "Segoe UI", "DejaVu Sans", "Trebuchet MS",
  // Verdana, "sans-serif";
  font-family: Euclid Circular B, sans-serif;
  width: 100vw;
  // height: auto;
  // min-height: 100vh;
  height: 100vh;
  // border: dashed solid yellow;
  /* background-color: rgb(26, 44, 64); */
  /* background-color: rgb(3, 3, 3); */
  /* background-color: rgb(251, 211, 124); */
  /* background-color: rgb(23,7,23); */
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(245, 245, 247); */
  /* background-color: rgb(167, 197, 217); */
  /* background-color:  rgb(133, 160, 179); */
  /* color: black; */
  /* background-image: url("images/backsplash.png"); */
  background-position: top;
  background-size: cover;
}

.centered {
  text-align: center;
  word-wrap: break-word;
  /* text-overflow: clip; */
  /* overflow: hidden; */
  overflow-wrap: break-word;
  text-overflow: clip;
}

.addr {
  display: none;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  text-align: left;
  align-self: inherit;
  /* padding-top: 10px; */
  /* left: 20%; */
  width: 80%;
  margin-left: 10%;
  /* padding: 0.8rem 0; */
  /* border: 2px dashed blue; */
}

.wallet-address {
  overflow-wrap: break-word;
  text-overflow: inherit;
  word-wrap: break-word;
}

.container-short {
  color: rgb(245, 245, 247);
  font-size: medium;
  /* margin-top: 4rem; */
  display: flex;
  /* width: "500px"; */
  /* border: 2px dashed red; */
  /* flex-shrink: 2; */
  flex-direction: column;
  /* height: "45%"; */
  /* border: 2px dashed blue; */
  /* flex: content; */
  /* align-content: center; */
  /* align-items: center; */
  /* justify-items: center; */
  /* justify-content: center; */
  /* flex-direction: vertical; */
  /* background-color: rgb(26, 44, 64); */
  /* background-color: rgb(3, 3, 3); */
  /* background-color: rgb(251, 211, 124); */
  /* background-color: rgb(23,7,23); */
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(245, 245, 247); */
  /* background-color: rgb(167, 197, 217); */
  background-color: rgb(23, 7, 27);
}

/* .logo { */
/* top: -50px; */
/* padding-top: 2rem; */
/* padding-bottom: 1rem; */
/* width: 2rem; */
/* padding: 0px 0 0px 0; */
/* max-width: 169px; */
/* width: auto; */
/* height: 20vw; */
/* width: 20vw; */
/* width: 4rem; */
/* float: right; */
/* border: 2px dashed red; */
/* } */

.video {
  /* margin-top: 40px; */
  /* padding-bottom: 20px; */
  /* min-width: '40vw'; */
  width: 80vw;
  height: auto;
  align-self: center;
  /* // float: left; */
  /* // border: 5px dashed yellow; */
}

.container-bs {
  position: relative;
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px 0 30px 0;
}

input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  /* opacity: 0.85; */
  /* display: inline-block; */
  font-size: 2rem;
  line-height: 2.5rem;
  text-decoration: none;
}

input[type-submit] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type-submit]:hover {
  background-color: #45a049;
}

/* two column layout  */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* clear floats afte the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.v1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line  */
.inner {
  // position: absolute;
  // top: 50%;
  // transform: translate(-50%, -50%);
  // background-color: #f1f1f1;
  // border: 1px solid #ccc;
  // border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens  */
.hide-md-lg {
  display: none;
}

.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  /* position: fixed; */
  bottom: 0;
  height: 100px;
  margin: auto;
  width: 100%;
}

.footer {
  /* border: 2px dashed yellow; */
  margin-top: 2rem;
  margin-bottom: 1rem;
  /* padding: 10px 0; */
  /* padding-top: 1rem; */
  /* background-color: #263231; */
  color: white;
}

.footer .list-unstyled .fas {
  color: white;
  /* font-size: 0.5rem; */
  /* line-height: 1.375rem; */
}

.footer .list-unstyled .media-body {
  margin-left: 0.625rem;
}

.footer .fa-stack {
  /* margin-bottom: 0.75rem; */
  margin-right: 0.5rem;
  /* font-size: 1rem; */
  /* border: 2px dashed red; */
}

.footer .fa-stack .fa-stack-1x {
  color: #262431;
  transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
  color: #f1f1f8;
  transition: all 0.3s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
  color: #f1f1f8;
}

.footer .fa-stack:hover .fa-stack-2x {
  color: orange;
}

.social-media-img {
  /* border: 2px dashed #4267B2; */
  display: block;
  /* margin-right: 5rem; */
  width: 3rem;
  height: 3rem;
  /* line-height: 45px; */
  text-align: center;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  /* transition: all 0.3s linear; */
}

/* .social_icons a span{
  margin-left: 5px;
  font-size: 18px;
}
.social_icons a:first-child{
  margin-right: 5px;
  background: #4267B2;
}
.social_icons a:first-child:hover{
  background: #375695;
}
.social_icons a:last-child{
  margin-left: 5px;
  background: #1DA1F2;
}
.social_icons a:last-child:hover{
  background: #0d8bd9;
} */

form .input_box {
  color: black;
  /* display: block; */
  /* height: 40px; */
  /* left: -40%; */
  /* align-items: ; */
  /* width: 40%; */
  position: relative;
  /* float: inline-start; */
  margin-top: 15px;
  margin-bottom: 15px;
  /* border: 2px dashed blue; */
}

.input_box input {
  color: black;
  height: 1rem;
  width: auto;
  outline: none;
  border: 2px solid lightgrey;
  border-radius: 5px;
  /* padding-left: 45px; */
  font-size: 17px;
  transition: all 0.3s ease;
  /* border: 2px dashed yellow; */
}

.input_box.info {
  align-self: center;
  display: flex;
  flex-direction: column;
}

// .input_box.input {
/* border: 2px dashed yellow; */
// }

.button input {
  height: auto;
  width: auto;
  /* background: gray; */
  color: black;
  border: none;
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  /* font */
}

/* .input_box .button {
      border: 2px dashed green;
    } */
// .input_box input:focus {
/* border-color: #be2edd; */
// }

.input_box .icon {
  display: none;
  position: absolute;
  top: 10%;
  left: 25%;
  transform: translateY(50%);
  color: black;
  /* border: 2px solid red;  */
}

form .option_div {
  margin-top: 5px;
  display: block;
  justify-content: space-between;
  /* border: 2px dashed red; */
}

.option_div .check_box {
  display: flex;
  align-items: center;
}

.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}

.option_div .forget_div a {
  font-size: 16px;
  /* color: #be2edd; */
  color: #4267b2;
}

form a {
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  font-size: 1rem;
  /* position: absolute; */
  margin: auto;
  justify-self: center;
  /* border: 2px dashed blue; */
  bottom: 0;
  margin-bottom: 2rem;
  /* left: 50%; */
}

.btn.about-us {
  display: none;
  font-family: sans-serif;
  position: relative;
  left: 5%;
  top: 50px;

  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  padding: 14px 28px;
  font-size: 2rem;
  width: auto;
  /* border: 2px dashed red; */
  cursor: pointer;
  /* display: inline-block; */
}

.btn.about-us .a {
  color: white;
}

/* On mouse-over */
.btn.about-us:hover {
  color: white;
}

.about-us {
  color: white;
}

#btn-about-us {
  color: white;
}

#btn-about-us:hover {
  text-decoration: none;
}

/* responsive layout - when the screen is less than 650px wide, make the two columns stakc on top of ech other instead of next to each other  */
@media screen and (orientation: landscape) and (max-width: 800px) and (max-height: 500px) {
  .body {
    /* border: 3px dashed pink; */
    padding-top: -20px;
    margin-top: -20px;
  }

  // .centered {
  /* border: 4px dashed blue; */
  /* background-color: red; */
  /* padding-top: -20px; */
  /* background: red; */
  // }

  /* .top-cont {
    border: 2px dashed yellow;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  } */

  /* .top-cont { */
  /* padding-top: 2rem; */

  /* margin-top: -8rem; */
  /* padding-top: -20px; */
  /* } */

  // .logo {
  /* display: relative; */
  /* margin-top: 0; */
  /* padding-top: 0; */
  /* height: '10vh'; */
  /* width: '10vh'; */
  /* border: 3px dashed blue; */
  /* width: 3rem; */
  // }

  .headline {
    font-size: 5rem;
  }
}

@media screen and (min-width: 651px) {
  // .logo {
  /* width: 14rem; */
  // }
  .actions > input {
    /* display:  */
    font-size: 1rem;

    /* border: 5px solid red; */
  }
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }

  /* hide the vertical line  */
  .v1 {
    display: none;
  }

  // .logo {
  /* width: 33vw; */
  /* margin-bottom: 2rem; */
  // }
  // .container-short {
  /* border: 2px dashed blue; */
  // }
  /* show the hidden text on small screens  */
  .hide-md-lg {
    display: block;
    text-align: center;
  }

  .headline {
    margin: auto;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    color: rgb(23, 7, 27);
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* font-family: "Exodar", "Audiowide"; */
    letter-spacing: 0.2rem;
    /* font-size: 26px; */
    /* padding: auto 2rem; */
    /* border: 2px dashed blue; */
    padding-top: 0.5rem;
    padding-bottom: 0;
    font: bolder;
  }

  .subtitle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 20px;
  }
  .btn.about-us {
    font-family: sans-serif;
    position: relative;
    left: 5%;
    top: 20px;

    /* border: 2px solid red; */
    border-radius: 20px;
    background-color: transparent;
    padding: 7px 14px;
    font-size: 1rem;
    width: auto;
    /* border: 2px dashed red; */
    cursor: pointer;
    /* display: inline-block; */
  }
}

.btn-join {
  /* background-color: rgb(54 ,171, 139); */
  height: auto;
  width: auto;
  width: 4rem;
  font-size: 5rem;
  background-color: rgb(251, 211, 124);
  /* width: 24rem; */
  border: 4px dashed blue;
  color: black;
}

// @media screen and (min-width: 1001) {
// .logo {
/* width: 20vw; */
/* border: 4px dashed black; */
// }
// }

/* animations  */
@-webkit-keyframes pulse {
  10% {
    opacity: 0.1;
    transform: scale(1.5);
  }

  50% {
    opacity: 0.2;
    transform: scale(1.8);
  }

  70% {
    opacity: 0.1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulse {
  10% {
    opacity: 0.1;
    transform: scale(1.5);
  }

  50% {
    opacity: 0.2;
    transform: scale(1.8);
  }

  70% {
    opacity: 0.1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes pulse-blur {
  0% {
    opacity: 0;
    transform: translate(-50%, 0) scale(0);
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 0) scale(1.1);
  }
}

@keyframes pulse-blur {
  0% {
    opacity: 0;
    transform: translate(-50%, 0) scale(0);
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 0) scale(1.1);
  }
}

@-webkit-keyframes pulse-blur-desktop {
  0% {
    opacity: 0;
    transform: translate(0, -50%) scale(0);
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, -50%) scale(1.1);
  }
}

@keyframes pulse-blur-desktop {
  0% {
    opacity: 0;
    transform: translate(0, -50%) scale(0);
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(0, -50%) scale(1.1);
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    transform: translateY(-15px);
  }

  80% {
    opacity: 1;
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    transform: translateY(-15px);
  }

  80% {
    opacity: 1;
    transform: translateY(-15px);
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  13% {
    transform: rotate(10deg);
  }

  39% {
    transform: rotate(-8deg);
  }

  52% {
    transform: rotate(-11deg);
  }

  65% {
    transform: rotate(0deg);
  }

  78% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  13% {
    transform: rotate(10deg);
  }

  39% {
    transform: rotate(-8deg);
  }

  52% {
    transform: rotate(-11deg);
  }

  65% {
    transform: rotate(0deg);
  }

  78% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0);
  }
}
